/* General reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
 
  .container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  
  /* Title styling */
  .container h1 {
    text-align:center;
    font-size: 36px;
    padding: 1rem;
    color: #2C3E50;

  }
  .divider{
    width:100px;
    background-color: #E74C3C;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 2rem;

  }
  .button-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
     
}

.filter-btn {  
    background-color: transparent;
    border: 2px #E74C3C solid;;
    color: #2C3E50;
    font-size: 16px;
    padding: 3px auto;
    max-width: 300px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.filter-btn:hover {
    background-color: #c0392b;
    color:white;
    transform: scale(1.05);
}

.filter-btn.active {
    background-color: #e74c3c;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .filter-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}


.menu {
  padding: 20px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); /* Default: 3 equal-width columns */
  gap: 20px; /* Space between items */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.menu-item {
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #E74C3C;
  display: flex;
  flex-direction: column;
  height: 90%;
  max-height: 400px;
}

.menu-item .menu-info {
  flex-grow: 1;
}

.menu-item img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-bottom: 2px solid #E74C3C;
}

.menu-item .menu-info {
  overflow: hidden;
}

 
  .menu-info {
    padding: 15px;
  }
  
  .menu-info h2 {
    font-size: 24px;
    color: #34495E;
    margin-bottom: 10px;
  }
  
  .category {
    font-size: 14px;
    color: #7F8C8D;
    font-style: italic;
  }
  
  .description {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #E74C3C;
  }
  
  @media (max-width: 768px) {
    .menu {
      grid-template-columns:repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .menu {
        grid-template-columns: 1fr;
      }
    .menu-item {
      width: 100%;
    }
  }
  